@import './components/button.css';

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.main {
    /* border: 3px solid blue ; */
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left {
    background-color: #4996DF;
    /* border: 3px solid red ; */
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 47.2vh;
    height: 32.1vh;
    /* border: 3px solid red ; */
    font-size: 18px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.right {
    /* border: 3px solid green ; */
    width: 50vw;
    height: 100vh;
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
}

.sign-in {
    border: 3px solid black ;
    width: 350px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    /* margin: auto auto; */
    left: 25%;
    right: 25%;
    top: 25%;
}

.top-part {
    /* border: 3px solid green ; */
    width: 98.2%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twi-icon {
    color: #4996DF;
    font-size: 49px;
}

.login {
    top: 20px;
    border: 3px solid green ;
    height: 78px;
    width: 100vw;
    position: relative;
}