:root {
    /* CSS variable example */
    /* needs to be defined on the :root for scope */
    --blue-color: #1da1f2;
}

.button-blue {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: white;
    border-radius: 100px ;
    text-decoration: none;
    text-align: center;
    width: 350px;
    height: 34px;
    margin-bottom: 10px;
    line-height: 31px;
}

.button-white {
    text-decoration: none;
    /* color: #1da1f2; */
    color: var(--blue-color);
    border-radius: 100px ;
    text-align: center;
    border: 1px solid var(--blue-color);
    width: 350px;
    height: 34px;
    line-height: 31px;
}

.button-white-small {
    text-decoration: none;
    color: #1da1f2;
    border-radius: 30px ;
    text-align: center;
    border: 1px solid var(--blue-color);
    width: 61px;
    height: 42px;
    padding: 10px;
    margin-top: 55px;
}

.button-white-small:hover {
    background-color: #E9F5FC;
}


